  <div class="input_group">
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
    <a class="asterisk_icon" title="Required"></a>
  </div>
  <div class="input_group">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <a class="asterisk_icon" title="Required"></a>
  </div>
  <div class="input_group">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation%>
    <a class="asterisk_icon" title="Required"></a>
  </div>