<%= form_header 'Change Password' %>
<%= form_for(resource, :as => resource_name, :url => users_update_password_path, :html => { :method => :put }) do |f| %>
  <div class="contentbox_body">
    <% if @user.errors.any? %>
      <p id="*.errors" class="notification">  
       <% @user.errors.full_messages.each do |msg| %>
         <%= msg %><br />
       <% end %>
     </p>
    <% end %>
    <div class="input_group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
      <a class="asterisk_icon" title="Required"></a><span id="changepassword_hint">We need your current password for confirmation</span>
    </div>
    <div class="input_group">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>
      <a class="asterisk_icon" title="Required"></a>
    </div>
    <div class="input_group">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation%>
      <a class="asterisk_icon" title="Required"></a>
    </div>
  </div>

  <div class="form_actions">
      <div class="add_variables">
        <%= f.submit "Update" %>
        <%= link_to 'Cancel', root_path %>
      </div>

  </div>

<% end %>

