<% current_project = is_current_project?(project) %>
<li id="project_item" class="<%= current_project ? "open" : "closed" %>">

  <% if project.experiments.present? or project.samples.present? %>

    <a class="<%= current_project ? "expanded" : "collapsed" %>" id="arrow">&nbsp;</a>

    <%= link_to project.name, project, :id => "project_#{project.id}", :title => project.name, :class => [project_class, current_project ? "current" : ""] %>

    <span class="<%= project_class %>"></span>

    <!-- Experiment level -->

    <% for experiment in project.experiments.name_ordered do %>
      <% current_exp = is_current_experiment?(experiment) %>
      <ul id="project_exp" class="expandable <%= "hidden" unless current_project %>">
        <li>
          <% if experiment.samples.present? %>
            <a class="<%= current_exp ? "expanded" : "collapsed" %>" id="arrow">&nbsp;</a>
          <% else %>
            <span class="experiment_empty"></span>
          <% end %>
          <%= link_to experiment.name, project_experiment_path(project, experiment), :id => "experiment_#{experiment.id}", :title => experiment.name, :class => ["project_experiment", current_exp ? "current" : ""] %>

          <!-- Sample level -->
          <%= render :partial => 'shared/sample_list', :locals => {:project => project, :samples => experiment.samples.includes(:samplable).name_ordered, :current_parent => current_exp} %>
        </li>
      </ul>
    <% end %> <!-- end experiment -->

    <%= render :partial => 'shared/sample_list', :locals => {:project => project, :samples => project.samples.name_ordered, :current_parent => current_project} %>
  <% else %>
    <span class="project_empty">&nbsp;</span><%= link_to project.name, project, :id => "project_#{project.id}", :title => project.name, :class => [project_class, "project_empty", current_project ? "current" : ""] %>
    <span class="<%= project_class %>"></span>
  <% end %>
</li>

